

.main_title
{
font: bold

}

#t1
{
font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;

}

#author
{
  font-style: italic
}

canvas {
  display:block;
  margin:auto;
}

